body {
    overflow: hidden;
}

div.contactBackGround {
    background-image: radial-gradient(rgb(250, 250, 85), pink,black);
    min-height: 100vh;
}

div.contactMethod {
    min-height: 25vh;
    padding-top: 7.5vh;
    text-wrap: wrap;
    padding-left: 40vw;
    padding-right: 40vw;
    color: darkviolet;
    font-weight: bold;
    font-size: max(1.25vw, 2vh);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link, a:visited {
    color:red;
    background-color: transparent;
    text-decoration: underline;
}

a:hover, a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}