body {
    overflow-x: hidden;
}

div.contactBackGround {
    background-image: radial-gradient(rgb(250, 250, 85), pink,black);
    min-height: 100vh;
}

div.contactMethod {
    min-height: 25vh;
    padding-top: 7.5vh;
    text-wrap: wrap;
    padding-left: 20vw;
    padding-right: 20vw;
    color: darkviolet;
    font-weight: bold;
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link, a:visited {
    color:red;
    background-color: transparent;
    text-decoration: underline;
}

a:hover, a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

@media only screen and (orientation: landscape) {
    div.contactMethod {
        padding-top: 3.5vh;
        font-size: 4vh;
    }
}