* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

body {
  width: 100vw;
  min-height: 10vh;
}

div.hubBar {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  padding-left: 6.25%;
  padding-right: 6.25%;
}

button.hubDiv {
  min-height: 8vh;
  width: 49.333333%;
  margin-left: 0.333333%;
  margin-right: 0.333333%;

  /*Colouring and interactivity stuff*/
  color: white;
  background-image: linear-gradient(to bottom right, red, black);
  border-radius: 2.5vh;
  transition-duration: 1s;

  /*Stuff to vertically centre the text which isn't the best way but works*/
  font-size: 3vw;
}

button.hubDiv:hover {
  background-image: linear-gradient(to bottom right, black, red);
  box-shadow: 1.5vh 1vh 0.5vh rgba(0, 0, 0, 0.25);
}

button.hubButton {
  /*Sizing apperance stuff*/
  /*
  border: 1px;
  border-style: solid;
  */
  background-color: aquamarine;
  color: darkviolet;
  font-weight: bolder;
  transition-duration: 1s;

  /*Shadow stuff, first is x offset, second is y offset and 3rd is fade*/
  /*can add multiple shadows by simply doing a comma seperated list of them*/
  box-shadow: -0.1vw 1vh 0.8vh rgba(0, 0, 0, 0.25);

  /*Sizing stuff*/
  border-radius: 1vw;
  width: 16%;
  margin-left: 0.333333%;
  margin-right: 0.333333%;
  font-size: 2.25vw;
  min-height: 8vh;
}

button.hubButton:hover {
  background-color: darkviolet;
  color: aquamarine;
  box-shadow: none;
}