body {
    overflow-x: hidden;
}

div.projectsBackGround {
    background-image: linear-gradient(to bottom left, black, white);
}

div.contentsTable {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 5%;
    margin-right: 75%;
    position: fixed;
    min-height: 1vh;
    margin-top: 10vh;
    padding: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: bold;
    font-size: 1.25vw;

    background-color: white;
    border-radius: 1.25vw;
    transition: 1s;
    box-shadow: 1vh -1vh 0.5vh gray;
}

h1 {
    font-size: 2.1vw;
}

h2 {
    font-size: 1.575vw;
}

div.contentsTable:hover {
    box-shadow: -1vh 1vh 0 gray;
}

div.contentsTable a:link, div.contentsTable a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

div.contentsTable a:hover, div.contentsTable a:active {
    color: black;
    background-color: transparent;
    text-decoration: solid;
}

div.projectDiv {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    min-height: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: aqua;
    padding: 1vh;
    padding-top: 0.5vh;
    transition: 1s;
    padding-left: 2.5vw;
    padding-right: 2.5vw;

    border: 0.5vh;
    border-color: black;
    border-style: solid;
    border-radius: 5vw;
    background-color: rgba(125, 125, 125, 0.1);
}

div.projectDiv:hover {
    background-color: black;
    border-color: white;
    box-shadow: 1vh -1vh 1vh darkviolet;
}

a {
    text-wrap: wrap;
}

a:link, a:visited {
    color: aquamarine;
    background-color: transparent;
}

a:hover, a:active {
    color: aquamarine;
    background-color: transparent;
    text-decoration: none;
}

p {
    font-size: 1.5vw;
    text-wrap: wrap;
}